<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="place-items: center; display: grid;">

    <h2> Available API endpoints </h2>

    <table border="1" style="border-collapse: collapse;">
        <tr>
            <td>endpoint</td>
            <td>links</td>
        </tr>

        <tr>
            <td>/</td>
            <td><a href="http://localhost:5555/">Click Here</a></td>
        </tr>
        <tr>
            <td>/api/sales/total-revenue</td>
            <td><a href="http://localhost:5555/api/sales/total-revenue">Click Here</a></td>
        </tr>
        <tr>
            <td>/api/sales/quantity-by-product</td>
            <td><a href="http://localhost:5555/api/sales/quantity-by-product">Click Here</a></td </tr>
        <tr>
            <td>/api/sales/top-products</td>
            <td><a href="http://localhost:5555/api/sales/top-products">Click Here</a></td>
        </tr>
        <tr>
            <td>/api/sales/average-price</td>
            <td><a href="http://localhost:5555/api/sales/average-price">Click Here</a></td>
        </tr>
        <tr>
            <td>/api/sales/revenue-by-month</td>
            <td><a href="http://localhost:5555/api/sales/revenue-by-month">Click Here</a></ </tr>

        <tr>
            <td>/api/sales/highest-quantity-sold</td>
            <td><a href="http://localhost:5555/api/sales/highest-quantity-sold">Click Here</a></td>
        </tr>
        <tr>
            <td>/api/sales/department-salary-expense</td>
            <td><a href="http://localhost:5555/api/sales/department-salary-expense">Click Here</a></td>
        </tr>
    </table>
</body>

</html>